.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Nunito', sans-serif;
}

.navigation {
  display: flex;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #ffcc00;
  font-weight: 400;
  font-size: 16px;
  transition: all 0.3s ease;
  border: none;
}

.nav-link:hover {
  background-color: #e6b800;
}
